MYSQL_HOST=<mysql_host>
MYSQL_PORT=<mysql_port>
MYSQL_DATABASE=<mysql_database>
MYSQL_ROOT_USERNAME=<mysql_root_username>
MYSQL_ROOT_PASSWORD=<mysql_root_password>
INVENTORY_SERVER_PORT=<inventory_server_port>
